body {
    background-color: white;
}


.map {
    width: 29%;
    margin: auto;

}

	#selection {width:200px; min-height:200px; border: 1px solid black; float: left; padding: 0 10px 10px 10px; margin-left:50px;}

