<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Ul li nested </title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <style id="compiled-css" type="text/css">
          form{
        margin: 20px 0;
    }
    form input, button{
        padding: 5px;
    }
    table{
        width: 100%;
        margin-bottom: 20px;
		border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid #cdcdcd;
    }
    table th, table td{
        padding: 10px;
        text-align: left;
    }
  </style>



</head>
<body>
    <ul>
  <li class="bubble" data-id="li-a"><span  class="nobubble" data-id="Barisal_Division">Barisal</span>
    <ul>
      <li class="bubble" data-id="li-b"><span class="nobubble" data-id="Jhalokathi">Jhalokathi</span>
      </li>
    </ul>
  </li>
</ul>

 <form>
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="email" placeholder="Email Address">
    	<input type="button" class="add-row" value="Add Row">
    </form>
    <table id="t">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="record"></td>
                <td>Peter Parker</td>
                <td>peterparker@mail.com</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="delete-row">Delete Row</button>

<div id="result">
</div>


</body>


  <script type="text/javascript">//<![CDATA[

    window.onload=function(){

$(".nobubble").on('click',function(){

    var name = $("#result").append($(this).attr("data-id") +"<br/>");
    console.log(name);
    var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td></td></tr>";
    var x= $("table tbody").append(name);
    console.log(x)
   });

    }

  </script>



</html>
