<html>
<head>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        .menu ul{
            list-style: none;
            margin: 0;
        }
        .menu ul li{
            padding: 15px;
            position: relative;
            width: 200px ;
            background-color: #ffffff ;
            border: 1px solid #BDC3C7;
        }
        .menu ul ul {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transition: all 0.3s;
            left: 83%;
            top : -2%;

        }
        .menu ul li a{
            color: #333333;
            text-decoration: none;
        }
        .menu ul li:hover > ul{
                opacity: 1;
            visibility: visible;
        }
           #myInput {

            width: 60%;
            border-radius: 10px;
            font-size: 16px;
            padding: 12px 20px 12px 10px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">      <input type="text" id="myInput" onkeyup="myFunction()"
                                               placeholder="" title="Type in a name"></div>
</div>
<div class="menu">
        <ul id="myUL">
            <li><a href="">Dhaka</a>
            <ul>
                <li ><a href="">Dhaka</a></li>
                <li ><a href="">Gazipur</a></li>
                <li><a href="">Kishoreganj</a></li>
                <li><a href="">Manikganj</a></li>
                <li><a href="">Munshiganj</a></li>
                <li><a href="">Narayanganj</a></li>
                <li><a href="">Narsingdi</a></li>
                <li><a href="">Tangail</a></li>
                <li><a href="">Gopalganj</a></li>
                <li><a href="">Madaripur</a></li>
                <li><a href="">Rajbari</a></li>
                <li><a href="">Shariatpur</a></li>
            </ul>
            </li>
            <li><a href="">Chittagong</a>
                <ul>
                    <li><a href="">Brahmanbaria</a></li>
                    <li><a href="">Comilla</a></li>
                    <li><a href="">Chandpur</a></li>
                    <li><a href="">Lakshmipur</a></li>
                    <li><a href="">Noakhali</a></li>
                    <li><a href="">Feni</a></li>
                    <li><a href="">Khagrachhari</a></li>
                    <li><a href="">Rangamati</a></li>
                    <li><a href="">Bandarban</a></li>
                    <li><a href="">Chittagong</a></li>
                    <li><a href="">CoxsBazar</a></li>
                </ul>
            </li>
            <li><a href="">Rajshahi</a>
                <ul>
                    <li><a href="">ThakurgaonMap</a></li>
                    <li><a href="">RangpurMap</a></li>
                    <li><a href="">PanchagarhMap</a></li>
                    <li><a href="">NilphamariMap</a></li>
                    <li><a href="">LalmonirhatMap</a></li>
                    <li><a href="">KurigramMap</a></li>
                    <li><a href="">GaibandhaMap</a></li>
                    <li><a href="">DinajpurMap</a></li>
                </ul>
            </li>

            <li><a href="">Khulna</a>
                <ul>
                    <li><a href="">Bagerhat</a></li>
                    <li><a href="">Chuadanga</a></li>
                    <li><a href="">Jessore</a></li>
                    <li><a href="">Jhenaidah</a></li>
                    <li><a href="">Khulna</a></li>
                    <li><a href="">Kushtia</a></li>
                    <li><a href="">Magura</a></li>
                    <li><a href="">Meherpur</a></li>
                    <li><a href="">Narail</a></li>
                    <li><a href="">Satkhira</a></li>
                </ul>
            </li>
            <li><a href="">Barisal</a>
                <ul>
                    <li><a href="">Barisal</a></li>
                    <li><a href="">Barguna</a></li>
                    <li><a href="">Bhola</a></li>
                    <li><a href="">Jhalokati</a></li>
                    <li><a href="">Patuakhali</a></li>
                    <li><a href="">Pirojpur</a></li>
                </ul>
            </li>
            <li><a href="">Sylhet</a>
                <ul>
                    <li><a href="">Habiganj</a></li>
                    <li><a href="">Moulvibazar</a></li>
                    <li><a href="">Sunamganj</a></li>
                    <li><a href="">Sylhet</a></li>
                </ul>
            </li>
            <li><a href="">Rangpur</a>
                <ul>
                    <li><a href="">Thakurgaon</a></li>
                    <li><a href="">Rangpur</a></li>
                    <li><a href="">Panchagarh</a></li>
                    <li><a href="">Nilphamari</a></li>
                    <li><a href="">Lalmonirhat</a></li>
                    <li><a href="">Kurigram</a></li>
                    <li><a href="">Gaibandha</a></li>
                    <li><a href="">Sirajgonj</a></li>
                </ul>
            </li>
            <li><a href="">Mymensingh</a>
                <ul>
                    <li><a href="">Jamalpur</a></li>
                    <li><a href="">Mymensingh</a></li>
                    <li><a href="">Netrokona</a></li>
                    <li><a href="">Sherpur</a></li>
                </ul>
            </li>
        </ul>
</div>
</body>

    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }


        }
    </script>

{#<script>#}
{#    $(function(){#}
{##}
{#    $('input[type="text"]').keyup(function(){#}
{#        #}
{#        var searchText = $(this).val();#}
{#        #}
{#        $('ul > li').each(function(){#}
{#            #}
{#            var currentLiText = $(this).text(),#}
{#                showCurrentLi = currentLiText.indexOf(searchText) !== -1;#}
{#            #}
{#            $(this).toggle(showCurrentLi);#}
{#            #}
{#        });     #}
{#    });#}
{##}
{#});#}
{#</script>#}

{##}
{#<script>#}
{#    jQuery("#myInput").keyup(function () {#}
{#    var filter = jQuery(this).val();#}
{#    jQuery("ul li").each(function () {#}
{#        if (jQuery(this).text().search(new RegExp(filter, "i")) < 0) {#}
{#            jQuery(this).hide();#}
{#        } else {#}
{#            jQuery(this).show()#}
{#        }#}
{#    });#}
{#});#}
{#</script>#}

</html>