<!DOCTYPE html>
<html>
<head>
    <title>FC-python wrapper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript"
            src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    {#    <script type="text/javascript" src="{% static 'js/fusioncharts.js' %}"></script>#}
</head>
<body style="font-family:'Titillium'; font-size: 8px;">

<div id="chart-1" align="center"></div>
{{ output|safe }}
<div id="chart-2" align="center"></div>
{{ output2|safe }}
<div id="chart-3" align="center"></div>
{{ output3|safe }}


</body>
<style type="text/css">
    g[class$='creditgroup'] {
        display: none !important;
    }

    .column {
        float: left;
        width: 33.33%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


</style>
</html>
