<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    {#    #}
    {#                <th scope="col">Division</th>#}
    {#            <th scope="col">Dhaka</th>#}
    {#            <th scope="col">Chittagong</th>#}
    {#            <th scope="col">Rajshahi</th>#}
    {#            <th scope="col">Barisal</th>#}
    {#            <th scope="col">Mymensingh</th>#}
    {#            <th scope="col">Sylhet</th>#}
    {#            <th scope="col">Rangpur</th>#}

</head>
<body>
<div class="container" style="width: 50%">
    <table class="table" style="border-color: #333333">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Dhaka</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Chittagong</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Rajshahi</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">Barisal</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Khulna</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Sylhet</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">Rangpur</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Mymensingh</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>